*.o
*.os
*.a
*.so
*.swp
*.pdb 
*.ilk 
*.idb
*.obj
*.exe
*.pyc
.sconsign.dblite
lua/demo1
lua/lftk_run
tags
bin/demo*
bin/run*
bin/js*
.vscode
.vs
3rd/jerryscript/jerryscript
lib
bin
res
tools/mvvm_prop_gen/idl/
tools/mvvm_prop_gen/mvvm_prop_gen.def
idl/idl.json
src/mvvm.def
